---
- name: Deploy 24 Game
  become: true
  hosts: all
  tasks:
    - name: Setup Eclipse Temurin repository key
      ansible.builtin.apt_key:
        id: 3B04D753C9050D9A5D343F39843C48A565F8F04B
        url: https://packages.adoptium.net/artifactory/api/gpg/key/public
        keyring: /etc/apt/trusted.gpg.d/adoptium.gpg
        state: present
    - name: Setup Eclipse Temurin repository
      ansible.builtin.apt_repository:
        repo: >-
          deb [signed-by=/etc/apt/trusted.gpg.d/adoptium.gpg]
          https://packages.adoptium.net/deb {{ ansible_facts["distribution_release"] }} main
    - name: Install Java
      ansible.builtin.apt:
        name: temurin-25-jre
        state: latest
        update_cache: true
    - name: Setup Nginx repository key
      ansible.builtin.apt_key:
        id: 573BFD6B3D8FBC641079A6ABABF5BD827BD9BF62
        url: https://nginx.org/keys/nginx_signing.key
        keyring: /etc/apt/trusted.gpg.d/nginx-archive-keyring.gpg
        state: present
    - name: Setup Nginx repository
      ansible.builtin.apt_repository:
        repo: >-
          deb [signed-by=/etc/apt/trusted.gpg.d/nginx-archive-keyring.gpg]
          http://nginx.org/packages/mainline/ubuntu/
          {{ ansible_facts["distribution_release"] }} nginx
        state: present
    - name: Install Nginx
      ansible.builtin.apt:
        name:
          - nginx
          - nginx-module-acme
        state: latest
        update_cache: true
      notify:
        - Restart Nginx
    - name: Setup game24.service
      ansible.builtin.copy:
        src: game24.service
        dest: /etc/systemd/system/game24.service
        owner: root
        group: root
        mode: 0644
    - name: Enable game24.service
      ansible.builtin.systemd_service:
        name: game24.service
        enabled: true
        state: started
    - name: Override default nginx service
      ansible.builtin.copy:
        src: nginx-override.conf
        dest: /etc/systemd/system/nginx.service.d/override.conf
        owner: root
        group: root
        mode: 0644
      notify:
        - Restart Nginx
    - name: Install nginx config
      ansible.builtin.template:
        src: nginx-game24.conf
        dest: /etc/nginx/conf.d/game24.conf
        owner: root
        group: root
        mode: 0644
      notify:
        - Reload Nginx
    - name: Install nginx config
      ansible.builtin.copy:
        src: nginx.conf
        dest: /etc/nginx/nginx.conf
        owner: root
        group: root
        mode: 0644
      notify:
        - Reload Nginx
  handlers:
    - name: Restart Nginx
      ansible.builtin.systemd_service:
        name: nginx
        state: restarted
        enabled: true
        daemon_reload: true
    - name: Reload Nginx
      ansible.builtin.systemd_service:
        name: nginx
        state: reloaded
        enabled: true
