<!doctype html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About | 24 Game</title>
    <link
            rel="stylesheet"
            href="/css/main.css">
    <link
            rel="stylesheet"
            href="/css/index.css">
    <link rel="icon" href="/favicon.ico">
</head>
<body class="d-flex flex-column h-100">
<div class="container">
    <header th:replace="~{fragments/navbar :: navbar}" class="d-flex flex-shink-0"></header>
    <main class="flex-shrink-0 mb-2">
        <h1>About</h1>
        <p>
            <math>
                <mn>24</mn>
            </math>
            is an arithmetic puzzle game where you add, subtract, multiple, and divide
            four numbers to find
            <math>
                <mn>24</mn>
            </math>
            . This is an implementation of the game that allows for
            generating random games as well as solving any games.
        </p>

        <h2>Ways To Play</h2>
        <p>
            You can, of course, play the game by going to the <a href="/">home page</a> and creating a new game.
            This will generate a new random game and allow you to find your own solutions or click the "Solve" button
            to find available solutions. You can also go to the <a href="/solve">solve page</a> to find solutions for
            puzzles that you find in other contexts, such as playing with a deck of playing cards or any other source
            of random integers.
        </p>
        <h2>How Solutions are Computed</h2>
        <p>
            For each input of four numbers, all possible unique orderings are found; then all possible unique orderings
            of three operations (out of addition, subtraction, multiplication, and division) are found. The cartesian
            product of those two sets is then used to generate all possible candidate solutions. Each is then computed
            and check to see whether it results in
            <math>
                <mn>24</mn>
            </math>
            .
        </p>
        <p>
            The program tries to reduce the number of repetitive solutions by removing those that are equivalent by
            the distributive and associated properties of addition and multiplication; though, solutions with different
            operations or different grouping of operations are not necessarily removed from this de-duplication step.
            This should result in a reasonable and intuitive set of solutions.
        </p>
        <h3>Why are some solvable inputs considered unsolvable?</h3>
        <p>
            To avoid returning an overwhelming number of solutions, there are some simple rules applied to division
            and subtraction to prohibit certain situations. Subtraction is prohibited when the result would be negative.
            Division is prohibited when the result would have a remainder. These rules do prevent certain inputs from
            being solvable (for example,
            <wbr>
            <math class="inline-math">
                <mrow>
                    <mn>3</mn>
                    <mn>3</mn>
                    <mn>8</mn>
                    <mn>8</mn>
                </mrow>
            </math>
            ).
        </p>
        <h2>License</h2>
        <p>
            <math>
                <mn>24</mn>
            </math>
            is a widely known arithmetic puzzle game. This is an implementation of that game. This implementation is
            licensed under the terms of the
            <a href="https://www.gnu.org/licenses/gpl-3.0.txt" target="_blank">GNU General Public License Version 3</a>
            (or any later version) and its source code is available on GitHub at
            <a href="https://github.com/laurelmay/24game" target="_blank">laurelmay/24game</a>.
        </p>
    </main>
</div>
<footer th:replace="~{fragments/footer :: footer}"></footer>
<script type="module" src="/js/index-support.js"></script>
</body>
</html>
